:root {
  --primary: #ffd91d;
  --pritrans: #ffd91d5e;
  --secondary: #ff0000;
  --sectrans: #ff000073;
  --font: #ffe30d;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Prompt", sans-serif;
  background: var(--bg);
}

.daftar-lomba {
  padding: 0 10%;
  color: #fff;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.daftar-lomba .logo {
  background-color: green;
  width: 20rem;
  text-align: center;
  /* display: block; */
  /* display: inline-block; */
  /* display: flex; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* text-align: center; */
}

.daftar-lomba .logo img {
  display: block;
  width: 6rem;
  margin: 0 auto;
}

.daftar-lomba .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* 
.daftar-lomba .row h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
} */

/* .daftar-lomba .row h2 span {
  color: var(--primary);
  text-shadow: 2px 2px 0 var(--secondary);
} */

.daftar-lomba .row .content {
  width: 100%;
  border-radius: 10px;
  align-items: center;
  background-color: var(--pritrans);
  padding: 3rem;
}
/* 
.daftar-lomba .row .content form {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
} */

/* .daftar-lomba .row .content form .umum {
  background-color: cyan;
} */

/* .daftar-lomba .row .content form .ketua {
  background-color: grey;
} */

/* .daftar-lomba .row .content form .anggota {
  background-color: pink;
} */

.daftar-lomba .row .content .input {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.daftar-lomba .row .content input {
  padding: 0.5rem 7%;
  background-color: green;
  color: #fff;
  width: 20rem;
  border-radius: 10px;
  display: block;
}

a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-weight: 400;
  background: linear-gradient(var(--primary) -30%, var(--secondary) 100%);
  color: #fff;
  padding: 0.5rem 0;
  width: 5rem;
  text-align: center;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px var(--bg));
}

a:hover {
  scale: 1.04;
  transition: 0.3s;
  filter: drop-shadow(1px 1px 5px var(--bg));
}

/* ///////////////////////////////////////////////////////////////// */

/* Laptop */
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .daftar-lomba {
    display: block;
  }

  /* .daftar-lomba .row .content {
    width: 100%;
  } */
}

/* Phone */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}
