:root {
  --primary: #ffd91d;
  --secondary: #ff0000;
  --bg: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--bg);
  height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  margin: 0;
  z-index: 9999;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
}

.navbar .nav-logo:hover {
  scale: 1.04;
  transition: 0.3s;
  filter: drop-shadow(0 0 5px var(--secondary));
}

.navbar .nav-logo a {
  display: flex;
  align-items: center;
}

.navbar .nav-logo .logo-img img {
  height: 3.5rem;
  margin-right: 1rem;
}

.navbar .nav-logo .logo-tittle {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s;
}

.navbar .masuk {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--primary);
  padding: 0.2rem;
  border-radius: 15%;
  align-items: center;
  display: flex;
}

.navbar .masuk #masuk .feather {
  height: 2.5rem;
  width: 100%;
  color: var(--bg);
}

.navbar .menu {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--primary);
  padding: 0.2rem;
  border-radius: 15%;
  align-items: center;
  display: none;
}

.navbar .menu:hover,
.navbar .masuk:hover {
  scale: 1.07;
  transition: 0.3s;
  filter: drop-shadow(0 0 5px var(--secondary));
}

.navbar .menu a,
.navbar .masuk a {
  display: flex;
  align-items: center;
}

.navbar .menu #humberger-menu .feather {
  height: 2.5rem;
  width: 100%;
  color: var(--bg);
}

/* ///////////////////////////////////////////////////////////////// */

/* Laptop */
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }

  .navbar .nav-logo .logo-tittle {
    display: none;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .navbar .nav-logo .logo-tittle {
    display: none;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--primary);
    width: 40vw;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav a {
    display: block;
    color: var(--bg);
    display: block;
    margin: 1.5rem;
  }

  .navbar .navbar-nav a:hover {
    color: #fff;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    border-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--secondary);
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .menu {
    display: flex;
  }

  .navbar .masuk #masuk .feather {
    color: var(--primary);
  }

  .navbar .masuk {
    background: none;
  }
}

/* Phone */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}
